@import "tailwindcss";

@theme {
  --color-accent: #32cd32;
  --color-foreground: 0, 0, 0;
  --color-background: 255, 255, 255;
}

root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}
a {
  color: var(--color-accent);
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.35rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1rem;
}

/* components */

.header {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 5;
}

.hero-container {
  position: absolute;
  top: 50;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.hero {
  position: absolute;
  top: 0;
  right: -33%;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.circle {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.hero-content {
  z-index: 1;
}

.card {
  width: 300px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .hero {
    position: absolute;
    top: 0;
    right: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
}
